.app_dark_theme {
    --bg-color: #010031;
    --bg-color-inverted: #e8e8ea;
    --sidebar-bg-color: #79797c;
    --navbar-bg-color: #a87e1b;
    --primary-color: #105e10;
    --secondary-color: #04ff04;
}
