.app.light {
    --bg-color: #e8e8ea;
    --bg-color-inverted: #010031;
    --sidebar-bg-color: #9191e8;
    --navbar-bg-color: #fffdd0;
    --primary-color: #222177;
    --secondary-color: #0449e0;
}
