.login_form {
    width: 400px;
    padding: 10px;
    background-color: var(--sidebar-bg-color);
    display: flex;
    flex-direction: column;
}

.login_form__input {
    margin-bottom: 10px;
}

.login_form__button {
    margin-left: auto;
}
